.socialLoginBtn {
  display: flex;
  justify-content: center;
  width: 27rem;
  height: 2.6706rem;
  margin-top: 1rem;
  padding: 0.625rem 1.5rem;
  background-color: var(--bg-page2);
  border: solid 0.0625rem var(--border);
  border-radius: 0.25rem;
  cursor: pointer;
}

.socialLoginBtn:active {
  color: var(--text2);
}

.socialLoginBtn span {
  align-items: center;
  padding: 0 0.125rem;
}

.socialLogiIcon {
  display: flex;
  height: 100%;
  align-items: center;
}

.socialLogiText {
  display: flex;
  height: 100%;
}
