.inputBox {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.label {
  position: relative;
  user-select: none;
  cursor: text;

  span {
    position: absolute;
    top: 50%;
    left: 0.625rem;
    transform: translateY(-50%);
    transform-origin: left;
    transition: transform 200ms;
    color: var(--text2);
  }

  &:hover,
  &.filling {
    span {
      transform: translateY(-110%) scale(0.75);
      font-weight: bold;
    }
  }
}

.input {
  width: 100%;
  padding: 1.5rem 0.625rem 0.5rem;
  border: solid 0.0625rem var(--border1);
  border-radius: 0.25rem;
  background-color: var(--bg-element1);
  color: var(--text1);

  &:focus {
    outline: solid 0.125rem var(--border1);
  }
}

.error {
  font-size: 0.875rem;
  color: var(--text5);
}
