.postBox {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 0.875rem 1.25rem 0.625rem;
  gap: 1rem;
  width: 100%;
  border: solid 0.0625rem var(--border);
  border-radius: 0.25rem;
  background-color: var(--element-bg-primary);
  color: var(--text1);

  &:hover {
    border-color: var(--border-focus);
  }

  h2 {
    font-size: 1.25rem;
  }

  p {
    overflow: hidden;
    font-size: 1rem;
  }
}

.postDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 0.75rem;
}

.postDetailsLeft {
  gap: 1rem;
}

.userID {
  span {
    color: var(--text-secondary);
  }
}

.likeCountBtn {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;

  svg {
    width: 0.875rem;
    height: 0.875rem;
  }
}

.heartFillIcon {
  color: var(--heart-fill);
}

.postDetailsLeft {
  display: flex;
  align-items: center;
}

.postDetailsRight {
  display: flex;
  color: var(--text-secondary);
}
