.button {
  padding: 0.625rem 1.5rem;
  background-color: var(--btn);
  border-radius: 0.25rem;
  border: none;
  color: var(--text4);
  cursor: pointer;

  svg {
    width: 1.125rem;
    height: 1.125rem;
  }

  &:hover {
    background-color: var(--btn-hover);
  }

  &:active {
    background-color: var(--btn-active);
  }

  &:disabled {
    cursor: default;
    background-color: var(--btn-disabled);
  }
}
