@mixin button {
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  background-color: var(--btn-primary-bg);
  color: var(--btn-primary-text);

  svg {
    width: 1.125rem;
    height: 1.125rem;
  }

  &:hover {
    background-color: var(--btn-primary-hover-bg);
  }

  &:active {
    background-color: var(--btn-primary-active-bg);
  }

  &:disabled {
    cursor: default;
    background-color: var(--btn-primary-disabled-bg);
  }
}
