.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
}

.ClassifyingPostsBox {
  max-width: 36.75rem;
  width: 100%;
}

.PostBox {
  display: grid;
  gap: 0.75rem;
  grid-template-columns: 36.75rem;
  margin-bottom: 8.4375rem;
}
