body,
body[data-theme='light'] {
  --bg-page1: #f9fafe;
  --bg-page2: #fff;
  --bg-page3: #fff;
  --bg-page4: #eeecf3;
  --bg-element1: #fff;
  --bg-element2: #f5f5f5;
  --bg-element3: #501eba;
  --bg-element4: #e8e5f6;
  --bg-element5: #fff;
  --bg-element6: #f9f8fc;
  --bg-element7: #f0f0f0;
  --bg-element8: #000000;
  --bg-element9: #383838;
  --text1: #262626;
  --text2: #737373;
  --text3: #7c3ffd;
  --text4: #fff;
  --text5: #ff0000;
  --text6: #4d4d4d;
  --text7: #501eba;
  --text8: #737373;
  --text9: #ff5544;
  --text10: #dbdbdb;
  --btn: #7c3ffd;
  --btn-hover: #733ee3;
  --btn-active: #6331ce;
  --btn-disabled: #a495fe;
  --border1: #cccccc;
  --border2: #dbdbdb;
  --border3: #4d4d4d;
  --box-shadow: rgba(0, 0, 0, 0.2);
}

@mixin dark {
  --bg-page1: #0f0f0f;
  --bg-page2: #0f0f0f;
  --bg-page3: #1f1f1f;
  --bg-page4: #000000;
  --bg-element1: #262626;
  --bg-element2: #262626;
  --bg-element3: #574a73;
  --bg-element4: #3e364f;
  --bg-element5: #4d4d4d;
  --bg-element6: #383838;
  --bg-element7: #2f2f2f;
  --bg-element8: #000000;
  --bg-element9: #2f2f2f;
  --text1: #dbdbdb;
  --text2: #999999;
  --text3: #7c3ffd;
  --text4: #fff;
  --text5: #eb0000;
  --text6: #999999;
  --text7: #dbdbdb;
  --text8: #999999;
  --text9: #ff5544;
  --text10: #dbdbdb;
  --btn: #4d4d4d;
  --btn-hover: #383838;
  --btn-active: #2f2f2f;
  --btn-disabled: #737373;
  --border1: #4d4d4d;
  --border2: #4d4d4d;
  --border3: #cccccc;
  --box-shadow: rgba(255, 255, 255, 0.2);
}

@media (prefers-color-scheme: dark) {
  body {
    @include dark;
  }
}

body[data-theme='dark'] {
  @include dark;
}
