body,
body[data-theme='light'] {
  --bg-page1: #f9fafe;
  --bg-page2: #fff;
  --bg-input: #f2f8f7;
  --bg-post: #eeecf3;

  --text1: #262626;
  --text2: #dbdbdb;
  --text3: #7c3ffd;
  --text4: #fff;
  --text5: #737373;

  --btn: #7c3ffd;
  --btn-active: #5028a7;
  --btn-disabled: #a495fe;

  --border1: #cccccc;
  --border2: #dbdbdb;

  --fill1: #501eba;
  --fill2: #e8e5f6;
  --fill3: #fff;

  --error: #ff0000;
}

@mixin dark {
  --bg-page1: #0f0f0f;
  --bg-page2: #0f0f0f;

  --text1: #dbdbdb;
  --text2: #dbdbdb;
  --text5: #999999;

  --btn: #4d4d4d;
  --btn-active: #262626;
  --btn-disabled: #737373;

  --border1: #999999;
  --border2: #4d4d4d;

  --fill1: #574a73;
  --fill2: #3e364f;
  --fill3: #4d4d4d;

  --error: #ff0000;
}

@media (prefers-color-scheme: dark) {
  body {
    @include dark;
  }
}

body[data-theme='dark'] {
  @include dark;
}
