@mixin animation {
  animation: modal-bg-show 0.3s;
  @keyframes modal-bg-show {
    from {
      opacity: 0.5;
    }
    to {
      opacity: 1;
    }
  }
}

.postModalContainer {
  position: absolute;
  z-index: 100;
  width: 100%;
  top: 3rem;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include animation;
}

.postModalBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 12.75rem 11rem 12.75rem;
  background-color: var(--bg-page4);
}

.topBar {
  display: flex;
  width: 100%;
  background-color: var(--bg-element8);
  justify-content: center;
}

.topBarContent {
  display: flex;
  width: 100%;
  padding: 0.625rem 0.875rem;
  max-width: 49.5rem;
  font-size: 1rem;
  font-weight: 700;
  justify-content: space-between;
  color: var(--text10);
  background-color: transparent;
  height: 100%;

  button {
    background-color: transparent;
    border: none;
    display: flex;
    padding: 0;
    cursor: pointer;
  }
}

.topBarLeft {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 1rem;
}

.topBarLeftLikeCnt {
  display: flex;
  justify-content: center;
  height: 100%;
  gap: 0.5rem;
  font-weight: 400;
}

.heartFillIcon {
  color: var(--text9);
}

.postModalContent {
  display: flex;
  max-width: 49.5rem;
  flex-direction: column;
  background-color: var(--bg-page3);
  margin: 1.25rem 12.75rem 11rem 12.75rem;
  padding: 1.5rem 2.25rem 1.875rem 2.25rem;
  gap: 1.75rem;
  height: 100%;

  section {
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
  }
}

.postDetail {
  display: flex;
  gap: 1rem;
  font-size: 0.875rem;
  font-family: roboto;
  align-items: center;

  span:nth-child(2) {
    color: var(--text2);
  }

  button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    color: var(--text2);
  }
}

.commentBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.commentBoxTop {
  display: flex;
  flex-direction: column;
  width: 100%;

  form {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;

    input {
      width: 100%;
      padding: 0.75rem 0.875rem;
      height: 9.0625rem;
      border: solid var(--border1) 0.0625rem;
      border-radius: 0.25rem;
      &:focus {
        outline: solid 0.125rem var(--border1);
      }
    }

    button {
      display: flex;
      padding: 0.5rem 1.25rem;
      background-color: var(--btn);
      color: var(--text4);
      border-radius: 0.25rem;
      border: none;
      font-size: 0.875rem;
      cursor: pointer;
      margin-left: 40.875rem; // 수정전
    }
  }
}

.commentInfo {
  display: flex;
  gap: 0.75rem;
  margin-bottom: 0.625rem;
  font-family: roboto;
  font-size: 0.875rem;
  align-items: center;
}

.sortIcon {
  height: 1.25rem;
  width: 1.25rem;
}

.overlay {
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: var(--bg-element9);
  cursor: pointer;
  @include animation;
}

.commentBoxBottom {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: 36.75rem;
  margin-bottom: 2.125rem;
}
