.container {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;

  button {
    padding: 0;
  }
}

.top {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  p {
    font-size: 0.875rem;
  }
}

.info {
  display: flex;
  font-size: 0.75rem;
  align-items: center;
  color: var(--text-secondary);

  & > span:first-child {
    color: var(--text-primary);
    font-weight: 700;
  }

  & > span:nth-child(2) {
    padding: 0 0.1875rem;
  }

  button {
    padding-left: 0.75rem;
  }
}

.bottom {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  font-size: 0.75rem;

  button {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  svg {
    width: 1rem;
    height: 1rem;
  }
}
