@mixin btn {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.commentContainer {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.commentBoxTop {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  p {
    font-size: 0.875rem;
  }
}

.commentInfo {
  display: flex;
  font-size: 0.75rem;
  align-items: center;
  color: var(--text-secondary);

  span:first-child {
    color: var(--text-primary);
    font-weight: 700;
  }

  span:nth-child(2) {
    padding: 0 0.1875rem;
  }
}

.commentBtn {
  padding-left: 0.75rem;
  display: flex;
  gap: 0.75rem;

  button {
    @include btn;
  }
}

.commentBoxBottom {
  display: flex;
  gap: 0.375rem;
  align-items: center;
  font-size: 0.75rem;

  button:first-child {
    display: flex;
    gap: 0.25rem;
    align-items: center;

    @include btn;
  }

  button:last-child {
    @include btn;
  }
}

.heartOutlineIcon {
  width: 1rem;
  height: 1rem;
}

.heartFillIcon {
  width: 1rem;
  height: 1rem;
  color: var(--heart-fill);
}
