.AuthFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 27rem;
  padding-top: 1rem;
  background-color: var(--bg-page2);
}

.AuthFormContainer form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.AuthFormContainer label {
  width: 100%;
}

.btnName {
  width: 27rem;
  padding: 0.625rem 1.5rem;
  background-color: var(--btn);
  border-radius: 0.25rem;
  border: none;
  color: var(--text4);
  cursor: pointer;
}

.btnName:active {
  background-color: var(--btn-active);
}
