.AuthFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 27rem;
  padding-top: 1rem;
  background-color: var(--bg-page2);
}

.AuthFormInput {
  width: 27rem;
  padding: 0.625rem 1.5rem;
  border: solid 0.0625rem var(--border);
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

.AuthFormInput:focus {
  outline: solid 0.125rem var(--border);
}

.authFormBtn {
  width: 27rem;
  padding: 0.625rem 1.5rem;
  background-color: var(--btn);
  border-radius: 0.25rem;
  border: none;
  color: var(--text4);
  cursor: pointer;
}

.authFormBtn:active {
  background-color: var(--btn-active);
}
