.accountMenu {
  position: relative;
}

.accountMenuButton {
  display: flex;
  align-items: center;
  padding: 0;

  @media (hover: hover) {
    &:hover {
      color: var(--text8);
    }
  }
}

.imageContainer {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  overflow: hidden;
}
