.profileBox {
  margin-top: 12px;
  margin-left: 1176px;
  width: 282px;
  height: 348px;

  .profileBoxTop {
    position: absolute;
    background-color: var(--fill1);
    border-radius: 4px 4px 0 0;
    width: 282px;
    height: 72px;
    z-index: 2;
  }
  .profileContent {
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    .profileImg {
      margin-top: 30px;
      width: 96px;
      height: 96px;
      border: solid 2px var(--border3);
      border-radius: 4px;

      img {
        object-fit: contain;
        width: 96px;
        height: 96px;
        border-radius: 4px;
        object-fit: cover;
      }
    }

    .nickName {
      padding-top: 12px;
      font-size: 20px;
      font-weight: 700;
    }
    .statusMessage {
      padding-top: 20px;
      font-size: 14px;
    }

    .signUpDate {
      padding-top: 20px;

      .signUpDateText {
        font-size: 12px;
        padding-right: 20px;
      }
      .signUpDateNum {
        font-size: 12px;
      }
    }
    .createNewPostBtn {
      align-content: center;
      margin-top: 20px;
      width: 242px;
      background-color: var(--btn);
      border-radius: 15px;
      border: none;
      padding: 4px 24px;
      font-size: 16px;
      color: var(--text4);
    }
    .modifyProfile {
      margin-top: 20px;
      font-size: 12px;
    }
  }

  .profileBoxBottom {
    background-color: var(--fill3);
    border-radius: 4px;
    display: flex;
    width: 282px;
    height: 100%;
    z-index: 1;
  }
}
