@mixin btn {
  background-color: var(--btn);
  border-radius: 0.9375rem;
  border: none;
  padding: 0.25rem 1.5rem;
  font-size: 1rem;
  color: var(--text4);
  cursor: pointer;

  &:hover {
    background-color: var(--btn-hover);
  }

  &:active {
    background-color: var(--btn-active);
  }
}

.profileBoxTop {
  height: 4.5rem;
  background-color: var(--bg-element3);
  border-radius: 0.25rem 0.25rem 0 0;
}

.profileContent {
  display: flex;
  flex-direction: column;
  padding: 1.875rem 1.25rem 1rem;
  border: solid 0.0625rem var(--border1);
  border-radius: 0.25rem;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  padding-bottom: 1.25rem;
}

.profileImg {
  border: solid 0.125rem var(--border2);
  border-radius: 0.25rem;
  height: 6rem;
  overflow: hidden;

  img {
    object-fit: cover;
    border-radius: 0.25rem;
  }
}

.nickName {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--text1);
  padding-left: 0.344rem;
}

.statusMessage {
  font-size: 0.875rem;
  color: var(--text1);
}

.signUpDate {
  padding-top: 1.25rem;
  color: var(--text1);
}

.signUpDateText {
  font-size: 0.75rem;
  padding-right: 0.875rem;
  color: var(--text1);
  font-weight: 700;
}

.signUpDateNum {
  font-size: 0.75rem;
}

.profileBoxBtns {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.createNewPostBtn {
  margin-top: 1.25rem;
  display: flex;
  justify-content: center;
  text-decoration: none;
  @include btn;
}

.chatListBtn {
  @include btn;
}

.modifyProfile {
  display: flex;
  margin-top: 1.25rem;
  padding: 0;
  font-size: 0.75rem;
  cursor: pointer;
  color: var(--text6);
  border: none;
  background-color: transparent;

  &:hover {
    text-decoration: underline;
  }
}
