.container {
  z-index: 1;
  position: absolute;
  top: calc(100% + 0.5625rem);
  right: 0;
  padding: 0;
  list-style: none;
  white-space: nowrap;
  background-color: var(--element-bg-primary);
  border: 0.0625rem solid var(--border);
  box-shadow: 0 0.0625rem 0.125rem var(--box-shadow);

  &.fullWidth {
    left: 0;

    & > li > a,
    & > li > button {
      padding: 0.75rem 0;
      justify-content: center;
    }
  }

  & > li > a,
  & > li > button {
    display: flex;
    align-items: center;
    padding: 0.75rem 3rem 0.75rem 1rem;
    width: 100%;
    color: var(--text-primary);
    outline: none;

    &:hover,
    &:focus {
      background-color: var(--dropdown-hover-bg);
    }
  }
}
