.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 27rem;
  padding-top: 1rem;
  background-color: var(--bg-page2);
}

.loginEmail {
  width: 27rem;
  padding: 0.625rem 1.5rem;
  border: solid 0.0625rem var(--border);
  border-radius: 0.25rem;
}

.loginEmail:focus {
  outline: solid 0.125rem var(--border);
}

.loginPw {
  width: 100%;
  margin-top: 1rem;
  padding: 0.625rem 1.5rem;
  border: solid 0.0625rem var(--border);
  border-radius: 0.25rem;
}

.loginPw:focus {
  outline: solid 0.125rem var(--border);
}
