.imageBox {
  align-self: flex-start;
  position: relative;
  display: flex;
  align-items: flex-end;
  font-size: 0.875rem;
  color: var(--text-secondary);
}

.profileImage {
  position: relative;
  width: 6rem;
  height: 6rem;
  border: solid 0.125rem var(--border);
  border-radius: 0.25rem;
  overflow: hidden;
}

.buttons {
  display: flex;
  gap: 0.5rem;
  white-space: nowrap;
  padding: 0.25rem;
  border-radius: 0.25rem;

  & > button {
    padding: 0.25rem;
  }
}
