.imageBox {
  position: relative;
  display: flex;
  align-items: flex-end;
  font-size: 0.875rem;
  color: var(--text-secondary);
}

.buttons {
  display: flex;
  gap: 0.5rem;
  white-space: nowrap;
  padding: 0.25rem;
  border-radius: 0.25rem;

  & > button {
    padding: 0.25rem;
  }
}
