body,
body[data-theme='light'] {
  --bg-page1: #dae6e4;
  --bg-page2: #fff;
  --bg-input: #f2f8f7;

  --text1: #262626;
  --text2: #dbdbdb;
  --text3: #1b80e4;
  --text4: #fff;

  --btn: #1b80e4;
  --btn-active: #1666b6;
  --btn-disabled: #76b3ef;

  --border: #cccccc;
  --border-header: #dbdbdb;

  --icon-search: #737373;
}

@mixin dark {
  --bg-page1: #0f0f0f;
  --bg-page2: #0f0f0f;
  --text1: #dbdbdb;
}

@media (prefers-color-scheme: dark) {
  body {
    @include dark;
  }
}

body[data-theme='dark'] {
  @include dark;
}
