@import 'styles/app';

.postMain {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;

  h2 {
    word-break: break-all;
  }

  @media (max-width: $breakpoints-sm) {
    gap: 0.75rem;
  }
}

.postDetail {
  display: flex;
  gap: 1rem;
  font-size: 0.875rem;

  & > a,
  & > button {
    padding: 0;
    color: var(--text-secondary);

    @media (hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
